body{
    text-align: center;
background-color: lavenderblush;
}
img{ 
    border-color: pink;
    align-items: center;
}
h1{
    color: pink;
     border-style: solid; color: pink;
}
.aboutme{
    text-size: 15px;
    text-emphasis-color:rgb(226, 132, 148) ;
}